:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-home-seminar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-home-seminar h1 {
    margin: 2rem 0;
}
.seminar-box {
    background: linear-gradient(to right, var(--color-bg) 40%, rgb(238, 245, 255));
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 90vw;
}
.seminar-box img {
    margin: 3rem 0;
}



@media only screen and (min-width:390px) and (max-width: 431px) {
    .seminar-box {
        width: 100%;
    }
    .seminar-box img{
        width: 7.5rem;
    }
    .section-home-seminar {
        margin-bottom: 2rem;
    }
}


@media only screen and (min-width: 319px) and (max-width: 389px) {
    .seminar-box {
        width: 100%;
    }
    .seminar-box img {
        width: 5.5rem;
    }
    .section-home-seminar {
        margin-bottom: 2rem;
    }
}


/* Tablet  */
@media screen and (min-width: 810px) and (max-width: 1020px) {
    .seminar-box img {
        width: 13rem;
        height: auto;
    }
}

@media screen and (min-width: 760px) and (max-width: 810px) {
    .seminar-box img {
        width: 13rem;
        height: auto;
    }
}