:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}



.section-activity-all {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* position: relative; */
}
.section-activity-all h1 {
    color: var(--color-bg);
    margin: 2rem 0;
    text-align: start;
    padding-left: 8rem;
}
.section-activity-all-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-activity-pagination {
    /* position: absolute;
    right: 0;
    bottom: 0; */
    text-align: end;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.container-activities {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    width: 90vw;
    margin: 0 auto;
}
.activity {
    margin: 0 2rem;
    padding: 2rem;
    box-shadow: 5px 5px 15px 2px gray;
}
.activity h2 {
    text-align: start;
}
.activity p {
    text-align: end;
    margin-top: 0.8rem;
}
.pagination button {
    width: 2.7rem;
    height: 2.6rem;
    font-size: 18px;
    font-weight: 500;
}
.section-text-h1 {
    display: none;
    padding: 0;
}



@media only screen and (min-width:390px) and (max-width: 431px) {
    .section-activity-all {
        position: relative;
    }
    .section-activity-all-container {
        background: transparent;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .section-activity-all-container .container-activities {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 60vh;
    }
    .activity {
        min-width: calc(100% - 10px);
        /* height: 20rem; */
        padding: 1.8rem;
        margin: 0;
    }
    .activity img {
        width: 120px;
        height: 147px;
    }
    .activity h2 {
        font-size: 18px;
    }
    .activity p {
        font-size: 13px;
    }


    .section-activity-pagination {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding: 0;
    }
    .section-activity-pagination .pagination button {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 14px;
        background: transparent;
        /* margin: 3rem 0; */
    }

    .section-activity-all-container .section-text-h1 {
        display: block;
        margin: 1rem 0;
        padding: 0;
        font-size: 25px;
        color: var(--color-bg);
    }
    .section-text {
        display: none;
    }
    .section-activity-all {
        height: 48rem;
    }
}




@media only screen and (min-width: 319px) and (max-width: 389px) {
    .section-activity-all {
        position: relative;
    }
    .section-activity-all-container {
        background: transparent;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .section-activity-all-container .container-activities {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 60vh;
    }
    .activity {
        min-width: calc(100% - 10px);
        /* height: 20rem; */
        padding: 1.3rem;
        margin: 0;
    }
    .activity img {
        width: 110px;
        height: 137px;
    }
    .activity h2 {
        font-size: 16px;
    }
    .activity p {
        font-size: 13px;
    }


    .section-activity-pagination {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding: 0;
    }
    .section-activity-pagination .pagination button {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 14px;
        background: transparent;
        /* margin: 3rem 0; */
    }

    .section-activity-all-container .section-text-h1 {
        display: block;
        margin: 1rem 0;
        padding: 0;
        font-size: 25px;
        color: var(--color-bg);
    }
    .section-text {
        display: none;
    }
    .section-activity-all {
        height: 43rem;
    }
}