:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}



.section-activity-all {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
    /* position: relative; */
}
.section-activity-all h1 {
    color: var(--color-bg);
    margin: 2rem 0;
    text-align: start;
    padding-left: 8rem;
}
.section-activity-all-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-activity-pagination {
    /* position: absolute;
    right: 0;
    bottom: 0; */
    text-align: end;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.container-activities {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    row-gap: 2rem;
    width: 90vw;
    margin: 0 auto;
}
.activity {
    margin: 0 2rem;
    padding: 2rem;
    box-shadow: 5px 5px 15px 2px gray;
}
.activity img {
    width: 350px;
    height: 300px;
}
.activity h2 {
    text-align: start;
}
.activity p {
    text-align: end;
    margin-top: 0.8rem;
}
.pagination button {
    width: 2.7rem;
    height: 2.6rem;
    font-size: 18px;
    font-weight: 500;
}
.section-text-h1 {
    display: none;
    padding: 0;
}



/* Phone  */
@media only screen and (min-width:400px) and (max-width: 431px) {
    .activity {
        width: 200px;
        height: auto;
        padding: 1.8rem;
        margin: 0;
    }
    .section-activity-all .section-text {
        margin: 0;
    }
    .section-activity-all-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .activity {
        width: 100%;
    }
    .activity img {
        width: 120px;
        height: 147px;
    }
    .activity h2 {
        font-size: 18px;
    }
    .activity p {
        font-size: 13px;
    }

    .section-activity-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-activity-pagination {
        margin: 0;
        padding-bottom: 2rem;
    }
    .section-activity-all-container {
        height: auto;
    }
}

@media only screen and (min-width: 319px) and (max-width: 399px) {
    .activity {
        width: 200px;
        height: auto;
        padding: 1.8rem;
        margin: 0;
    }
    .section-activity-all .section-text {
        margin: 0;
        padding-left: 4rem;
        font-size: 28px;
    }
    .section-activity-all-container {
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
    .activity {
        width: 100%;
    }
    .activity img {
        width: 120px;
        height: 147px;
    }
    .activity h2 {
        font-size: 14px;
    }
    .activity p {
        font-size: 10px;
    }

    .section-activity-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-activity-pagination {
        margin: 0;
        padding-bottom: 2rem;
    }
    .section-activity-all-container {
        height: auto;
    }
}

@media only screen and (min-width: 319px) and (max-width: 376px) {
    .section-activity-all-container {
        padding-top: 2rem;
        padding-bottom: 10rem;
    }
}

@media only screen and (min-width: 319px) and (max-width: 325px) {
    .section-activity-all-container {
        padding-top: 2rem;
        padding-bottom: 16rem;
    }
}

@media only screen and (min-height: 730px) and (max-height: 740px) {
    .section-activity-all-container {
        padding-top: 2rem;
        padding-bottom: 10rem;
    }
}


/* Tablet  */
@media screen and (max-width: 1025px) {
    .section-activity-all-container .container-activities {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 70vh;
    }
    .section-activity-all {
        /* padding-top: 15vh; */
    }
}

@media screen and (min-width: 810px) and (max-width: 1020px) {
    .section-activity-all-container .container-activities {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 1px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 60vh;
    }
    .section-activity-all {

    }
    .container-activities .activity img {
        width: 180px;
        height: 180px;
    }
    .section-activity-all {
        /* padding-top: 20vh; */
    }
}

@media screen and (min-width: 760px) and (max-width: 810px) {
    .section-activity-all-container .container-activities {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
    }
    .section-activity-all {
        height: 110vh;
    }
    .activity img {
        width: 220px;
        height: 220px;
    }
    .section-activity-all {
        /* padding-top: 25vh; */
    }
    .section-activity-all-container {
        height: 100vh;
    }
}


/* CSS สำหรับ iPad 1180px ในแนวนอน */
@media only screen 
  and (max-width: 1180px) 
  and (orientation: landscape) {
    .section-activity-all-container .container-activities {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 10px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
    }
    .container-activities .activity {
        width: 80%;
        height: auto;
    }
    .container-activities .activity img{
        width: 200px;
        height: 200px;
    }
  }


/* CSS สำหรับ iPad 1024px ในแนวนอน */
@media only screen 
  and (max-width: 1024px) 
  and (orientation: landscape) {
    .section-activity-all-container .container-activities {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 10px;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
    }
    .container-activities .activity {
        width: 80%;
        height: auto;
    }
    .container-activities .activity img{
        width: 200px;
        height: 200px;
    }
  }