:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-home {

}

.section-home-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-size: cover;
}
.section-home-top-box1 h1 {
    font-size: 70px;
    margin-bottom: 1rem;
    background: linear-gradient(var(--color-bg) 60%, rgb(251, 253, 255));
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent; /* จำเป็นต้องทำให้สีข้อความเป็นโปร่งใส */
}
.section-home-top-box1 p {
    color: white;
    font-size: 30px;
    margin: 1rem 0;
}
.section-home-top-box1 button {
    background: var(--color-bg);
    border: none;
    width: 8.5rem;
    height: 3rem;
    border-radius: 25px;
    font-size: 25px;
}
.section-home-top-box1 .white-link {
    color: white;
    text-decoration: none;
}



.section-home-top-box2 img {
    width: 760px;
    height: 440px;
}
.section-home-top-box2 p {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 20px;
}



/* screen media  */
@media (min-width: 1230px) and (max-width: 1600px) {
    .section-home-top-box1 h1 {
        font-size: 60px;
    }
    .section-home-top-box1 p {
        font-size: 20px;
    }
    .section-home-top-box2 img {
        width: 560px;
        height: 340px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 431px) {
    .section-home-top {
        height: 80vh;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .section-home-top-box1 h1 {
        /* margin-top: 2rem; */
        font-size: 35px;
    }
    .section-home-top-box1 p {
        font-size: 15px;
    }
    .section-home-top-box1 button {
        font-size: 15px;
        width: 4.5rem;
        height: 1.8rem;
    }

    .section-home-top-box2 p {
        font-size: 15px;
    }
    .section-home-top-box2 img {
        width: 360px;
        height: 200px;
    }
}


@media only screen and (max-width: 375px) {
    .section-home-top {
        height: 90vh;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .section-home-top-box1 h1 {
        /* margin-top: 2rem; */
        font-size: 25px;
    }
    .section-home-top-box1 p {
        font-size: 10px;
    }
    .section-home-top-box1 button {
        font-size: 10px;
        width: 4.5rem;
        height: 1.8rem;
    }

    .section-home-top-box2 p {
        font-size: 10px;
    }
    .section-home-top-box2 img {
        width: 260px;
        height: 150px;
    }
}



/* Tablet  */
@media screen and (min-width: 1020px) and (max-width: 1376px) {
    .section-home-top-box1 h1 {
        font-size: 40px;
    }
    .section-home-top-box1 p {
        font-size: 17px;
    }
    .section-home {
        height: auto;
        padding-top: 12vh;
        padding-bottom: 3rem;
    }
}

@media screen and (min-width: 810px) and (max-width: 1020px) {
    .section-home-top-box1 h1 {
        font-size: 30px;
    }
    .section-home-top-box1 p {
        font-size: 13px;
    }
    .section-home {
        height: auto;
        padding-top: 12vh;
        padding-bottom: 3rem;
    }
    .section-home-top-box1 button {
        width: 6rem;
        height: 2rem;
        font-size: 20px;
    }
}

@media screen and (min-width: 760px) and (max-width: 810px) {
    .section-home-top-box1 h1 {
        font-size: 30px;
    }
    .section-home-top-box1 p {
        font-size: 13px;
    }
    .section-home {
        height: auto;
        padding-top: 12vh;
        padding-bottom: 3rem;
    }
    .section-home-top {
        height: 30vh;
    }
    .section-home-top-box1 button {
        width: 6rem;
        height: 2rem;
        font-size: 20px;
    }
}