:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-products-popular {
    text-align: center;
}
.section-products-popular h1 {
    margin: 2rem 0;
}

/* style set 1 */
.product-popular {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: start;
    max-width: 90vw;
    margin: 1rem auto;
    padding: 4rem;
}
.product-popular h2 {
    margin: 1rem 0;
    font-size: 40px;
}
.product-popular p {
    margin: 1rem 0;
    font-size: 23px;
}
.product-popular img {
    margin-right: 1rem;
}
.product-popular-text {
    margin-left: 1rem;
}
.product-popular-text button {
    background: var(--color-bg);
    border: none;
    border-radius: 25px;
    width: 4.5rem;
    height: 1.5rem;
    color: white;
}
.product-popular-text .text-p {
    font-size: 15px;
}

/* style set 2 */
.product-popular-2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: end;
    max-width: 90vw;
    margin: 2rem auto;
    background: linear-gradient(to right, rgb(212, 236, 255), var(--color-bg) 70%);
    padding: 4rem;
}
.product-popular-2 h2 {
    margin: 1rem 0;
    font-size: 40px;
}
.product-popular-2 p {
    margin: 1rem 0;
    font-size: 23px;
    color: white;
}
.product-popular-2 img {
    margin-right: 1rem;
}
.product-popular-2 img {
    margin-left: 1rem;
}
.product-popular-2 .product-popular-text {
    margin-right: 1rem;
}




@media only screen and (min-width:390px) and (max-width: 431px) {
    .product-popular {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
    }
    .section-products-popular-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .product-popular img {
        margin: 0;
        width: 100%;
    }
    .product-popular-text h2{
        font-size: 30px;
    }
    .product-popular-text p {
        font-size: 20px;
    }
    .product-popular-text button {
        width: 6rem;
        height: 2rem;
        font-size: 18px;
    }



    .product-popular-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background: linear-gradient(to top, rgb(212, 236, 255), var(--color-bg) 70%);
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
    }
    .product-popular-2 img {
        width: 90%;
        margin-bottom: 1.5rem;
    }
}


@media only screen and (min-width: 319px) and (max-width: 389px) {
    .product-popular {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
    }
    .section-products-popular-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .product-popular img {
        margin: 0;
        width: 100%;
    }
    .product-popular-text h2{
        font-size: 25px;
    }
    .product-popular-text p {
        font-size: 15px;
    }
    .product-popular-text button {
        width: 5.5rem;
        height: 1.8rem;
        font-size: 16px;
    }



    .product-popular-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background: linear-gradient(to top, rgb(212, 236, 255), var(--color-bg) 70%);
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
    }
    .product-popular-2 img {
        width: 90%;
        margin-bottom: 1.5rem;
    }
}




/* Tablet  */
@media screen and (min-width: 1020px) and (max-width: 1376px) {
    .product-popular img {
        max-width: 300px;
        max-height: 300px;
    }
    .product-popular-2 img {
        max-width: 300px;
        max-height: 300px;
    }
    .product-popular-text h2 {
        font-size: 30px;
    }
    .product-popular-text p {
        font-size: 20px;
    }
}

@media screen and (min-width: 810px) and (max-width: 1020px) {
    .product-popular img {
        max-width: 300px;
        max-height: 300px;
    }
    .product-popular-2 img {
        max-width: 300px;
        max-height: 300px;
    }
    .product-popular-text h2 {
        font-size: 22px;
    }
    .product-popular-text p {
        font-size: 15px;
    }
}

@media screen and (min-width: 760px) and (max-width: 810px) {
    .product-popular img {
        max-width: 300px;
        max-height: 300px;
    }
    .product-popular-2 img {
        max-width: 325px;
        max-height: 250px;
    }
    .product-popular-text h2 {
        font-size: 22px;
    }
    .product-popular-text p {
        font-size: 14px;
    }
}