:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-activity-detail {
    text-align: center;
    margin: 1rem;
    margin-top: 0;
    height: 100vh;
    padding-top: 10vh;
}
.activity-detail-img {
    width: 90vw;
    margin: 0 2rem;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}
.activity-detail-img img {
    width: 350px;
    height: 350px;
}
.activity-detail-content {
    margin: 1.5rem 2rem;
    text-align: start;
}
.activity-detail-content p {
    margin: 1.4rem 0;
}
.activity-detail-content button {
    background: var(--color-bg);
    border: none;
    border-radius: 25px;
    width: 6rem;
    height: 2.3rem;
    color: white;
    font-size: 18px;
}

.img-responsive {
    display: none;
}
.btn-group {
    display: none;
}




@media only screen and (min-width:390px) and (max-width: 431px) {
    .img-display {
        display: none;
    }
    .activity-detail-img {
        margin-top: 0;
    }
    .section-activity-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    /* .img-container-responsive {
        width: 100%;
    } */
    .img-responsive {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 340px;
        min-height: 270px;
        /* max-height: auto; */
        /* width: 90%; */
        margin: 0;
        padding: 0;
    }
    .btn-group {
        display: block;
        margin: 1rem 0;
    }
    .btn-prev, .btn-next {
        margin: 0 1rem;
        width: 3rem;
        height: 1.4rem;
        background: transparent;
        /* border: 1px solid var(--color-bg);
        color: var(--color-bg); */
    }

    .activity-detail-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        /* justify-content: center; */
        position: relative;
    }
}


@media only screen and (min-width: 319px) and (max-width: 389px) {
    .img-display {
        display: none;
    }
    .activity-detail-img {
        margin-top: 0;
    }
    .section-activity-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    /* .img-container-responsive {
        width: 100%;
    } */
    .img-responsive {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 340px;
        min-height: 270px;
        /* max-height: auto; */
        /* width: 90%; */
        margin: 0;
        padding: 0;
    }
    .btn-group {
        display: block;
        margin: 1rem 0;
    }
    .btn-prev, .btn-next {
        margin: 0 1rem;
        width: 3rem;
        height: 1.4rem;
        background: transparent;
        /* border: 1px solid var(--color-bg);
        color: var(--color-bg); */
    }

    .activity-detail-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        /* justify-content: center; */
        position: relative;
    }
}


@media only screen and (max-height: 670px) {
    .section-activity-detail {
        padding-top: 15vh;
    }
    .activity-detail-img {
        margin-top: 0;
    }
}




/* Tablet  */
@media screen and (min-width: 1020px) and (max-width: 1376px) {
    .activity-detail-img img {
        max-width: 300px;
        height: auto;
    }
    .section-activity-detail {
        height: 80vh;
    }
}

@media screen and (min-width: 810px) and (max-width: 1020px) {
    .activity-detail-img img {
        max-width: 230px;
        height: auto;
    }
    .section-activity-detail {
        height: 80vh;
    }
}

@media screen and (min-width: 760px) and (max-width: 810px) {
    .activity-detail-img img {
        max-width: 200px;
        height: auto;
    }
    .section-activity-detail {
        height: 100vh;
    }
}