:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}



.section-performance-all {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    margin: 3rem 0;
    /* position: relative; */
}

.section-performance-all h1 {
    color: var(--color-bg);
    margin: 2rem 0;
    text-align: start;
    padding-left: 8rem;
}

.section-performance-all-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.section-performance-pagination {
    /* position: absolute;
    right: 0;
    bottom: 0; */
    text-align: end;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.container-activities {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    width: 90vw;
    margin: 0 auto;
}

.performance {
    margin: 0 2rem;
    padding: 2rem;
    box-shadow: 5px 5px 15px 2px gray;
}

.performance img {
    width: 350px;
    height: 350px;
}

.performance h2 {
    text-align: start;
}

.performance p {
    text-align: end;
    margin-top: 0.8rem;
}

.pagination button {
    width: 2.7rem;
    height: 2.6rem;
    font-size: 18px;
    font-weight: 500;
}




@media only screen and (min-width:390px) and (max-width: 431px) {
    .section-performance-all-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-activities {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .performance {
        margin: 0;
        padding: 1rem 0.4rem;
        box-shadow: 5px 5px 10px 1px gray;
    }
    .performance img{
        /* margin: 0.5rem; */
        width: 120px;
        height: 147px;
    }
    .performance h2 {
        font-size: 20px;
    }
    .performance p {
        font-size: 13px;
    }


    .section-performance-pagination {
        margin: 0;
        margin-right: 1rem;
        padding: 0;
    }
    .pagination button {
        width: 2.2rem;
        height: 2rem;
        font-size: 15px;
    }
}




@media only screen and (min-width: 319px) and (max-width: 389px) {
    .section-performance-all-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-activities {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .performance {
        margin: 0;
        padding: 1rem 0.4rem;
        box-shadow: 5px 5px 10px 1px gray;
    }
    .performance img{
        /* margin: 0.5rem; */
        width: 120px;
        height: 147px;
    }
    .performance h2 {
        font-size: 20px;
    }
    .performance p {
        font-size: 13px;
    }


    .section-performance-pagination {
        margin: 0;
        margin-right: 1rem;
        padding: 0;
    }
    .pagination button {
        width: 2.2rem;
        height: 2rem;
        font-size: 15px;
    }
}



/* Tablet  */
@media screen and (min-width: 1020px) and (max-width: 1376px) {
    .section-performance-all-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-activities {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .performance {
        margin: 0;
        padding: 1rem 0.4rem;
        box-shadow: 5px 5px 10px 1px gray;
    }
    .performance img{
        /* margin: 0.5rem; */
        margin: 0 1.5rem;
        margin-top: 1.5rem;
        width: 340px;
        height: 347px;
    }
    .performance h2 {
        font-size: 20px;
    }
    .performance p {
        font-size: 13px;
    }
}

@media screen and (min-width: 810px) and (max-width: 1020px) {
    .section-performance-all-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-activities {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .performance {
        margin: 0;
        padding: 1rem 0.4rem;
        box-shadow: 5px 5px 10px 1px gray;
    }
    .performance img{
        /* margin: 0.5rem; */
        width: 240px;
        height: 247px;
    }
    .performance h2 {
        font-size: 20px;
    }
    .performance p {
        font-size: 13px;
    }
}

@media screen and (min-width: 760px) and (max-width: 810px) {
    .section-performance-all-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-activities {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .performance {
        margin: 0;
        padding: 1rem 0.4rem;
        box-shadow: 5px 5px 10px 1px gray;
    }
    .performance img{
        /* margin: 0.5rem; */
        width: 240px;
        height: 247px;
    }
    .performance h2 {
        font-size: 20px;
    }
    .performance p {
        font-size: 13px;
    }
}