:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    color: var(--color-bg);
}.contact-text div {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.contact-text div img {
    margin-right: 1.3rem;
}
.contact-text p , .contact-text a{
    font-size: 25px;
}

.contact-map {
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1;
    position: relative;
}
.contact-map img {
    max-width: 645px;
    max-height: 401px;
}
.contact-map a {
    margin-top: 1.3rem;
    width: 5rem;
    text-decoration: none;
    color: var(--color-bg);
}
.contact-map .box-1 {
    width: 11rem;
    height: 13rem;
    background: var(--color-bg);
    z-index: -999;
    position: absolute;
    top: 0;
    top: -25px;
    right: -25px;
}
.contact-map .box-2 {
    width: 13rem;
    height: 11rem;
    background: var(--color-bg);
    z-index: -999;
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 10px;
    left: -25px;
}
.contact-h1-map {
    display: none;
}



@media only screen and (min-width:390px) and (max-width: 431px) {
    .contact-h1-map {
        display: block;
        margin-top: 2rem;
    }
    .section-contact {
        flex-direction: column-reverse;
        /* text-align: center; */
        /* align-items: center; */
        height: auto;
    }
    .contact-text {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contact-text div {
        margin: 0.4rem;
    }
    .contact-text h1 {
        display: none;
    }
    .contact-text p, .contact-text a{
        font-size: 18px;
    }
    .contact-text img {
        width: 2rem;
        height: 2rem;
        margin: 0;
    }

    .contact-map {
        margin-top: 2rem;
        width: 80%;
    }
    .contact-map iframe {
        width: 100%;
        height: 30rem;
    }
    .contact-map .box-1 {
        width: 11rem;
        height: 7rem;
        top: 0;
        top: -15px;
        right: -15px;
    }
    .contact-map .box-2 {
        width: 13rem;
        height: 8rem;
        bottom: 0;
        left: 0;
        bottom: 22px;
        left: -15px;
    }
}



@media only screen and (min-width: 319px) and (max-width: 389px) {
    .contact-h1-map {
        display: block;
        margin-top: 2rem;
        font-size: 25px;
    }
    .section-contact {
        flex-direction: column-reverse;
        /* text-align: center; */
        /* align-items: center; */
        height: auto;
    }
    .contact-text {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contact-text div {
        margin: 0.4rem;
    }
    .contact-text h1 {
        display: none;
    }
    .contact-text p, .contact-text a{
        font-size: 15px;
    }
    .contact-text img {
        width: 2rem;
        height: 2rem;
        margin: 0;
    }

    .contact-map {
        margin-top: 2rem;
        width: 80%;
    }
    .contact-map iframe {
        width: 100%;
        height: 30rem;
    }
    .contact-map .box-1 {
        width: 11rem;
        height: 7rem;
        top: 0;
        top: -15px;
        right: -15px;
    }
    .contact-map .box-2 {
        width: 13rem;
        height: 8rem;
        bottom: 0;
        left: 0;
        bottom: 22px;
        left: -15px;
    }
}