:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-performance-detail {
    text-align: center;
    margin: 3rem;
    margin-top: 0;
    height: 100vh;
}
.performance-detail-img {
    width: 90vw;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
}
.performance-detail-img img {
    margin-top: 12vh;
}
.performance-detail-content {
    margin: 1.5rem 2rem;
    text-align: start;
}
.performance-detail-content p {
    margin: 1.4rem 0;
}
.performance-detail-content button {
    background: var(--color-bg);
    border: none;
    border-radius: 25px;
    width: 6rem;
    height: 2.3rem;
    color: white;
    font-size: 18px;
}



@media only screen and (min-width:390px) and (max-width: 431px) {
    .img-display {
        display: none;
    }
    .section-performance-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-top: 0;
    }
    /* .img-container-responsive {
        width: 100%;
    } */
    .img-responsive {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 340px;
        min-height: 270px;
        /* max-height: auto; */
        /* width: 90%; */
        margin: 0;
        margin-top: 12vh;
        padding: 0;
    }
    .btn-group {
        display: block;
        margin: 1rem 0;
    }
    .btn-prev, .btn-next {
        margin: 0 1rem;
        width: 3rem;
        height: 1.4rem;
        background: transparent;
        /* border: 1px solid var(--color-bg);
        color: var(--color-bg); */
    }

    .performance-detail-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        /* justify-content: center; */
        position: relative;
    }
}



@media only screen and (min-width: 319px) and (max-width: 389px) {
    .img-display {
        display: none;
    }
    .section-performance-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-top: 0;
    }
    /* .img-container-responsive {
        width: 100%;
    } */
    .img-responsive {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 340px;
        min-height: 270px;
        /* max-height: auto; */
        /* width: 90%; */
        margin: 0;
        margin-top: 12vh;
        padding: 0;
    }
    .btn-group {
        display: block;
        margin: 1rem 0;
    }
    .btn-prev, .btn-next {
        margin: 0 1rem;
        width: 3rem;
        height: 1.4rem;
        background: transparent;
        /* border: 1px solid var(--color-bg);
        color: var(--color-bg); */
    }

    .performance-detail-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        /* justify-content: center; */
        position: relative;
    }
}