:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-aboutus-top {
    /* text-align: center; */
    width: 100vw;
}
.aboutus-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    margin: 0 3rem;
}
.section-aboutus-top img {
    width: 775px;
    height: 431px;
}
.aboutus-text {
    margin-left: 3rem;
    height: 40vh;
}
.aboutus-text h1 {
    color: var(--color-bg);
    margin-bottom: 1rem;
}
.aboutus-text p {
    color: white;
    font-size: 23px;
}



@media only screen and (min-width:390px) and (max-width: 431px) {
    .aboutus-container {
        flex-direction: column;
        margin: 0;
        /* padding: 0; */
        text-align: center;
    }
    .aboutus-container img {
        width: 375px;
        height: 210px;
    }
    .aboutus-container h1 {
        font-size: 30px;
    }
    .aboutus-text {
        margin: 0 1rem;
    }
    .aboutus-text p {
        font-size: 20px;
    }
}



@media only screen and (min-width: 319px) and (max-width: 389px) {
    .aboutus-container {
        flex-direction: column;
        margin: 0;
        /* padding: 0; */
        text-align: center;
    }
    .aboutus-container img {
        width: 325px;
        height: 180px;
    }
    .aboutus-container h1 {
        font-size: 23px;
    }
    .aboutus-text {
        margin: 0 1rem;
    }
    .aboutus-text p {
        font-size: 16px;
    }
}


@media only screen and (max-width: 330px) {
    .aboutus-container {
        height: auto;
    }
}