:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-aboutus-content {
    text-align: center;
}
.aboutus-content-box-set {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    margin: 2rem auto;
    padding: 0 2rem;
    width: 90vw;
    height: 15rem;
}
.aboutus-text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.aboutus-content-box-set h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 30px;
    color: var(--color-bg);
}
.aboutus-content-box-set p {
    font-size: 20px;
}
.aboutus-content-box-set span {
    color: rgb(60, 135, 248);
}


/* section box 1  */

.aboutus-content-box-1 {
    display: flex;
    text-align: end;
    align-items: center;
    padding: 0 2rem;
    width: 90vw;
    margin: 2rem auto;
    height: 23rem;
    background: linear-gradient(to right, rgb(233, 248, 255) 30%, var(--color-bg));
}
.content-text-box-1 {
    margin-right: 2rem;
    height: 80%;
}
.content-text-box-1 h2 {
    color: var(--color-bg);
    font-size: 30px;
    margin-bottom: 2rem;
}
.content-text-box-1 p {
    text-align: start;
    font-size: 20px;
}
.aboutus-content-box-1 img {
    max-width: 500px;
    max-height: 290px;
}


/* section box 2  */

.aboutus-content-box-2 {
    display: flex;
    text-align: start;
    align-items: center;
    padding: 0 2rem;
    width: 90vw;
    margin: 2rem auto;
    height: 23rem;
    background: linear-gradient(to right, var(--color-bg), rgb(233, 248, 255) 80%);
}
.content-text-box-2 {
    margin-left: 2rem;
    height: 80%;
}
.content-text-box-2 h2 {
    color: var(--color-bg);
    font-size: 30px;
    margin-bottom: 2rem;
}
.content-text-box-2 p {
    text-align: start;
    font-size: 20px;
}
.aboutus-content-box-2 img {
    max-width: 500px;
    max-height: 290px;
}




@media only screen and (min-width:390px) and (max-width: 431px) {
    .aboutus-content-box-set {
        margin: 1rem 0;
        width: 100%;
        height: auto;
    }
    .aboutus-content-box-set h2 {
        margin: 0;
        font-size: 30px;
    }
    .aboutus-content-box-set p {
        margin-top: 1rem;
    }

    /* box 1  */
    .aboutus-content-box-1 {
        flex-direction: column-reverse;
        text-align: start;
        width: 100%;
        height: auto;
        margin: 0;
        background: linear-gradient(to top, rgb(233, 248, 255) 50%, var(--color-bg));
    }
    .aboutus-content-box-1 img {
        max-width: 100%;
        max-height: 290px;
        margin: 1rem 0;
    }
    .content-text-box-1 p {
        margin-bottom: 1rem;
    }
    .aboutus-text {
        /* height: auto; */
    }

    /* box 2  */
    .aboutus-content-box-2 {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1rem, 0;
        background: linear-gradient(to top, rgb(233, 248, 255) 30%, var(--color-bg));
    }
    .aboutus-content-box-2 img {
        max-width: 100%;
        max-height: 290px;
        margin: 1rem 0;
    }
    .content-text-box-2 p {
        margin-bottom: 1rem;
    }
}


@media only screen and (min-width: 319px) and (max-width: 389px) {
    .aboutus-content-box-set {
        margin: 1rem 0;
        width: 100%;
        height: auto;
    }
    .aboutus-content-box-set h2 {
        margin: 0;
        font-size: 30px;
    }
    .aboutus-content-box-set p {
        margin-top: 1rem;
    }

    /* box 1  */
    .aboutus-content-box-1 {
        flex-direction: column-reverse;
        text-align: start;
        width: 100%;
        height: auto;
        margin: 0;
        background: linear-gradient(to top, rgb(233, 248, 255) 50%, var(--color-bg));
    }
    .aboutus-content-box-1 img {
        max-width: 100%;
        max-height: 290px;
        margin: 1rem 0;
    }
    .content-text-box-1 p {
        margin-bottom: 1rem;
    }

    /* box 2  */
    .aboutus-content-box-2 {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1rem, 0;
        background: linear-gradient(to top, rgb(233, 248, 255) 30%, var(--color-bg));
    }
    .aboutus-content-box-2 img {
        max-width: 100%;
        max-height: 290px;
        margin: 1rem 0;
    }
    .content-text-box-2 p {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 330px) {
    .aboutus-content-box-set {
        height: auto;
    }
}



/* Tablet  */
@media screen and (min-width: 1020px) and (max-width: 1376px) {
    .aboutus-container {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;
    }
    .aboutus-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutus-content-box-set h2 {
        font-size: 27px;
    }
    .aboutus-content-box-set p {
        font-size: 18px;
    }
    .content-text-box-1 h2 {
        font-size: 27px;
    }
    .content-text-box-1 p {
        font-size: 17px;
    }
    .content-text-box-2 h2 {
        font-size: 27px;
    }
    .content-text-box-2 p {
        font-size: 17px;
    }
    .aboutus-content-box-1 {
        height: 20rem;
    }
    .aboutus-content-box-2 {
        height: 20rem;
    }
}

@media screen and (min-width: 810px) and (max-width: 1020px) {
    .aboutus-text h1 {
        font-size: 25px;
    }
    .aboutus-text p {
        font-size: 18px;
    }
    .aboutus-container {
        height: 45vh;
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;
    }
    .aboutus-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutus-content-box-set h2 {
        font-size: 27px;
    }
    .aboutus-content-box-set p {
        font-size: 18px;
    }
    .content-text-box-1 h2 {
        font-size: 27px;
        margin-bottom: 0.2rem;
    }
    .content-text-box-1 p {
        font-size: 15px;
    }
    .content-text-box-2 h2 {
        font-size: 27px;
    }
    .content-text-box-2 p {
        font-size: 17px;
    }
    .aboutus-content-box-1 {
        height: 18rem;
    }
    .aboutus-content-box-2 {
        height: 18rem;
    }
}

@media screen and (min-width: 760px) and (max-width: 810px) {
    .aboutus-text h1 {
        font-size: 25px;
    }
    .aboutus-text p {
        font-size: 18px;
    }
    .aboutus-container {
        height: 45vh;
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;
    }
    .aboutus-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutus-content-box-set h2 {
        font-size: 27px;
    }
    .aboutus-content-box-set p {
        font-size: 18px;
    }
    .content-text-box-1 h2 {
        font-size: 27px;
        margin-bottom: 0.2rem;
    }
    .content-text-box-1 p {
        font-size: 15px;
    }
    .content-text-box-2 h2 {
        font-size: 27px;
    }
    .content-text-box-2 p {
        font-size: 17px;
    }
    .aboutus-content-box-1 {
        height: 18rem;
    }
    .aboutus-content-box-2 {
        height: 18rem;
    }
}