.section-footer {
    width: 100vw;
    background: #033F6A;
    color: white;
    text-align: center;
    justify-content: center;
}
.section-footer-detail {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    text-align: start;
}
.section-footer-title {
    margin-bottom: 2rem;
}
.section-footer-title div {
    width: 11rem;
}
.section-footer-title div h6 {
    font-size: 14px;
    text-align: end;
}
.section-footer-detail-box p {
    margin: 1rem 0;
}
.section-footer-content {
    display: flex;
    justify-content: start;
    align-items: center;
}
.section-footer-content img {
    margin-right: 1rem;
    width: 30px;
    height: 30px;
}


.section-footer hr {
    margin: 0 auto; /* จัดเส้นตรงให้อยู่ตรงกลาง */
    width: 95vw;
}

.section-footer-social {
    display: flex;
    justify-content: end;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
}
.footer-social-box {
    border: 1px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}
.section-footer-social .footer-social-box img {
    width: 40px;
    height: 40px;
    margin: 0 1rem;
}
.responsive-hr {
    display: none;
}



@media only screen and (min-width:390px) and (max-width: 431px) {
    .responsive-hr {
        display: block;
    }
    .section-footer-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section-footer-detail-box .section-footer-title h6{
        text-align: center;
    }
    .section-footer-detail-box p {
        margin: 0.5rem 0;
    }
    .section-footer-detail-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section-footer-detail .section-footer-detail-box {
        margin: 1rem 0;
    }
    .section-footer-content img {
        margin-right: 0.4rem;
    }


    .section-footer-social {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    .section-footer-social .footer-social-box {
        width: 50px;
        height: 50px;
        /* margin: 0 auto; */
    }
    .section-footer-social .footer-social-box img {
        width: 25px;
        height: 25px;
    }
}



@media only screen and (min-width: 319px) and (max-width: 389px) {
    .responsive-hr {
        display: block;
    }
    .section-footer-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .section-footer-detail-box .section-footer-title h6{
        text-align: center;
    }
    .section-footer-detail-box p {
        margin: 0.5rem 0;
    }
    .section-footer-detail-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section-footer-detail .section-footer-detail-box {
        margin: 1rem 0;
    }
    .section-footer-content img {
        margin-right: 0.4rem;
    }


    .section-footer-social {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    .section-footer-social .footer-social-box {
        width: 50px;
        height: 50px;
        /* margin: 0 auto; */
    }
    .section-footer-social .footer-social-box img {
        width: 25px;
        height: 25px;
    }
}