:root {
    --color-text: rgb(255, 255, 255);
    --color-bg: rgb(73, 164, 255);
    --color-blue: rgb(0, 82, 247);
}


.section-productdetail {
    text-align: center;
    /* height: 100rem; */
    margin-bottom: 4rem;
}
.productdetail-img {
    margin: 3rem;
}
.productdetail-img img {
    margin: 0 1rem;
}
.productdetail-content {
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin: 0 6rem;
}
.productdetail-content h2 {
    color: var(--color-bg);
    font-size: 30px;
    margin-bottom: 2rem;
}
.productdetail-content p {
    font-size: 18px;
}
.box-content1 {
    width: 50vw;
    padding-right: 4rem;
    position: relative;
}
.box-content1 button {
    position: absolute;
    bottom: 0;
    background: var(--color-bg);
    border: none;
    border-radius: 25px;
    width: 6.3rem;
    height: 2.3rem;
}
.box-content2 {
    width: 50vw;
    padding-left: 4rem;
}
.box-content2 button {
    display: none;
}

.img-responsive , .btn-group{
    display: none;
} 




@media only screen and (min-width:390px) and (max-width: 431px) {
    .img-display {
        display: none;
    }
    .section-productdetail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .img-container-responsive {
        width: 100%;
    } */
    .img-responsive {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 340px;
        max-height: 340px;
        /* max-height: auto; */
        /* width: 90%; */
        margin: 0;
        padding: 0;
    }
    .btn-group {
        display: block;
        margin: 1rem 0;
    }
    .btn-prev, .btn-next {
        margin: 0 1rem;
        width: 3rem;
        height: 1.4rem;
        background: transparent;
        /* border: 1px solid var(--color-bg);
        color: var(--color-bg); */
    }

    .productdetail-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        /* justify-content: center; */
        position: relative;
    }
    .box-content1 {
        width: 95%;
        padding: 0;
        /* position: static; */
    }
    /* .box-content1 h2 {
        font-size: 20px;
    } */
    .box-content1 button {
        display: none;
    }
    .box-content2 button {
        display: block;
        background: var(--color-bg);
        border: none;
        border-radius: 25px;
        width: 6.3rem;
        height: 2.3rem;
        margin-top: 1.5rem;
    }
    .box-content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        padding: 0;
    }
    .box-content2 h2 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}





@media only screen and (min-width: 319px) and (max-width: 389px) {
    .img-display {
        display: none;
    }
    .section-productdetail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .img-container-responsive {
        width: 100%;
    } */
    .img-responsive {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 340px;
        max-height: 340px;
        /* max-height: auto; */
        /* width: 90%; */
        margin: 0;
        padding: 0;
    }
    .btn-group {
        display: block;
        margin: 1rem 0;
    }
    .btn-prev, .btn-next {
        margin: 0 1rem;
        width: 3rem;
        height: 1.4rem;
        background: transparent;
        /* border: 1px solid var(--color-bg);
        color: var(--color-bg); */
    }

    .productdetail-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        /* justify-content: center; */
        position: relative;
    }
    .box-content1 {
        width: 95%;
        padding: 0;
        /* position: static; */
    }
    /* .box-content1 h2 {
        font-size: 20px;
    } */
    .box-content1 button {
        display: none;
    }
    .box-content2 button {
        display: block;
        background: var(--color-bg);
        border: none;
        border-radius: 25px;
        width: 6.3rem;
        height: 2.3rem;
        margin-top: 1.5rem;
    }
    .box-content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        padding: 0;
    }
    .box-content2 h2 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}